.container {
  max-width: 1200px;
  margin: auto;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

/* Banner content styles */
.banner-content {
  height: 400px;
  width: auto;
  margin-top: 20px;
  text-align: center;
  padding: 50px 20px;
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-content h1 {
  font-size: 48px;
  color: white;
  margin-bottom: 20px;
}

.banner-content p {
  color: white;
  margin-bottom: 30px;
}

span {
  font-weight: italic;
}

.banner-content .btn {
  margin-top: 150px;
}

/* Speakers Section  styles*/
.speakers-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  gap: 20px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.speaker {
  border: 1px solid #ccc;
}

.speaker-child {
  padding: 20px;
}
.speakers-content h6 {
  color: blueviolet;
}

.speakers-title {
  text-align: center;
  margin-top: 50px;
}

/* Pricing Section Styles */
.pricing-title {
  text-align: center;
  margin-top: 50px;
}
.pricing-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
}
.pricing-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.pricing-card h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pricing-list li {
  margin-bottom: 10px;
  padding-left: 10px;
}

.pricing-button {
  width: 100%;
  background-color: white;
  color: black;
  padding: 6px 12px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  border-radius: 5px;
  border: 2px solid #008cba;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
}

.pricing-button:hover {
  background-color: #008cba;
  color: white;
}

.pro-card {
  background-color: #0d1b2a;
  color: white;
}

.pro-button {
  width: 100%;
  background-color: #008cba;
  color: white;
  padding: 6px 12px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  border-radius: 5px;
  border: 2px solid #008cba;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
}

.pro-button a {
  color: white;
  text-decoration: none;
}

.contact-card {
  background-color: #f0f0f0;
  color: black;
}

.contact-card a {
  color: black;
  text-decoration: none;
}
/* ai hackathon style */
.hackathon {
  margin-bottom: 50px;
}
.hackathon-text {
  color: #555;
  padding: 40px 10px;
  text-align: center;
  margin-bottom: 30px;
}

.hackathon-details {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hackathon-details p {
  margin-bottom: 10px;
  font-size: 20px;
}

.hackathon-sign-up {
  text-align: center;
}

.input-area {
  padding: 10px;
  margin-top: 10px;
}
